// colors
$clr-orange: #ff7d1a;
$clr-pale-orange: #ffede0;

$clr-very-dark-blue: #1d2025;
$clr-dark-grayish-blue: #68707d;
$clr-grayish-blue: #b6bcc8;
$clr-light-grayish-blue: #f7f8fd;
$clr-white: #fff;
$clr-black: #000;
$clr-black-75: rgba(0, 0, 0, 0.75);

// font sizes
// 14px 15px 42px 16px  30px
// 8%        3%
//           117% 150%

// 13px 18px 28px
$fs-xs: 14px;
$fs-sm: 15px;
$fs-md: 16px;
$fs-lg: 30px;
$fs-xl: 42px;

$fw-bold: 800;
$fw-reg: 400;

// transition
$ts-200: all 200ms ease-in-out;
$ts-300: all 300ms ease-in-out;

// device widths
$dev-width-md: 830px;
$dev-width-sm: 600px;